*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #FEF7E6;
}

img{
    height: 139px;
    width: 130px;
}
.container{
    
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 6002px;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    margin-top: 30px;
}
.campos{
    display: flex;
    
    flex-direction: row;
    align-items: flex-start;
    p{
        color: red;
        font-size: 14px;
    }
}
input{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    height: 50px;
    width: 300px;
    font-size: 20px;
}
button{
    background-color: black;
    color: #FEE600;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 443px;
    border-style: solid;
}

.div_button{
    margin: 20px;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    flex-direction: column;
}
.caixaInput{
    margin: 8px;
    gap: 10px;

}

