      body {
        font-family: Arial, sans-serif;
        background: #f9f9f9;
      }

      header {
        padding: 20px;
        background: #fff;
      }

      header nav a {
        margin: 15px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }

      footer {
        padding: 20px;
        background: #ffcc33;
      }

      footer nav a {
        margin: 15px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }

      #button_inove {
        background: #ffcc33;
        color: #fff;
      }

      .quem_somos {
        background: #ffcc33;
        padding: 20px;
        color: #fff;
      }

      section {
        padding: 20px;
        max-width: 1000px;
        margin: auto;
      }

      .cards_sistema {
        display: flex;
        justify-content: space-between;
        gap: 15px;
      }

      .card {
        background: #ffcc33;
        color: #fff;
      }

      .escolher_beetech {
        background: #000;
        color: #fff;
        text-align: center;
        padding: 20px;
      }

      #button_simular {
        background: #fff;
        color: #000;
      }

      .simulador input {
        padding: 5px;
        background-color: #2e2d2de2;
      }

      .equipe {
        display: flex;
        justify-content: space-around;
        text-align: center;
      }

      .equipe img {
        width: 125px;
        border-radius: 40%;
      }

      form {
        background: #ffcc33;
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
      }