@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #FEF7E6;
    font-family: 'Montserrat';
    justify-content: center;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
}
body a{
    font-weight: bold;
}
.container-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-image: url(../assets/images/Group-2.png);
    background-size: 589px;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
img{
    height: 139px;
    width: 130px;
}


.container{
   
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    margin-top: 30px;
    background-image: images/Group-2png;

    
}
.campos{
    display: flex;
    
    flex-direction: row;
    align-items: flex-start;
    p{
        color: red;
        font-size: 11px;
    }
}
.campos .cabecalho{
    font-size: 15px;
    color: black;
}
input{
    border: 1px solid #aaaaaa;
    background-color: transparent;
    border-radius: 10px;
    border-width: 1px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    outline: 0;
    text-indent: 15px;
}



button{
    background-color: black;
    color: #FEE600;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 443px;
    border-style: solid;
    cursor: pointer;
}

.div_button{
    margin: 20px;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    flex-direction: column;
    
}
.caixaInput{
    margin: 8px;
    gap: 10px;

}

.container h3{
    font-weight: 500;
    color: black;
}
a{
    text-decoration: underline;
    cursor: pointer;
}